.forgot-psw {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: rgba(129, 137, 149, 0.5);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
    cursor: pointer;
    transition: all .3s;
}

.forgot-psw:hover {
    color: #894000;
    font-weight: bold;
}

.forgot-psw img {
    width: 29px;
}

.forgot-psw {display: flex;align-items: center;justify-content: center;}
.forgot-psw img {width: 29px;}

.forgot-psw {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: rgba(129, 137, 149, 0.5);
    text-decoration: none;
    margin: 15px 0;
}