@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&display=swap');

*,*::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.main-content {
    min-height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('assets/home-bg-img.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe-manager-content {
    padding: 0 100px;
    display: grid;
    grid-template-columns: 6fr 4fr;
    align-items: center;
    justify-content: space-between;
}

.error {
    color: red;
}

.login-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #894000;
    margin-bottom: 5px;
}

.login-text {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #894000;
    margin-bottom: 40px;
}

.login-icon {
    position: absolute;
    width: 23px;
    top: 16px;
    display: inline-block;
    left: 25px;
}

.sign-icon {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 30px;
}

.user-img {
    cursor: pointer;
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icon {
    width: 37px;
    margin: 10px 5px 0;
}

.recipe-form-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.recipe-form-search .form-group {
    margin-bottom: 0;
}

.recipe-form-search .input-form {
    max-width: 420px;
    width: 100%;
    padding-left: 20px;
}

.recipe-form-search .submit-btn {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    width: 170px;
}

.manager-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.manager-btn .form-btn {
    margin: 0 20px;
}

.manager-btn .form-btn .submit-btn {
    padding: 10px 40px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: rgba(137, 64, 0, 0.48);
}

.recipe-lists {
    font-style: italic;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #894000;
}

.recipe-list-content .input-form, .recipe-input-list-content .input-form {
    padding-left: 20px;
}

.recipe-list-content .recipe-title {
    margin-top: 30px;
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #894000;
}

.recipe-list-manager {
    margin-top: 20px;
    padding: 10px 30px
}

.recipe-list-manager .recipe-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.recipe-edit span {
    margin: 0 5px;
    width: 20px;
}

.recipe-edit span img {
    max-width: 100%;
    height: auto;
}

.back-home-text {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #894000;
    display: flex;
    align-items: center;
}

.back-home-text img {
    width: 25px;
    margin-left: 5px;
}

.recipe-input-list-content {
    padding: 50px 75px;
}

.recipe-input-list-content .user-img img {
    width: 40px;
}

ul, li {
    list-style: none;
}

.drop-down-menu {
    position: relative;
}

ul.logout-btn {
    display: none;
    position: absolute;
    top: 45px;
    left: -27px;
    box-shadow: 0 4px 6px rgb(0 0 0 / 15%);
    background-color: #fff;
    padding: 10px 20px;
}

ul.logout-btn a.nav-item {
    font-size: 18px;
}

li:hover>ul.logout-btn {
    display: block;
}

.recipe-select-list {
    background: #07F8E9;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    border-radius: 62px;
    margin-top: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.recipe-check-box .form-check-input {
    background-image: url('assets/unchecked-checkbox.png');
}

.form-check-input[type=radio] {
    border-radius: 0;
}

.form-check-input:checked[type=radio] {
    background-image: url('assets/checkbox-tick-mark.png');

}

:focus {
    box-shadow: none !important;
    outline: 0 !important;
}

@media(max-width:768px) {
    .recipe-input-list-content{
        padding: 51px 21px;
    }
    .recipe-title{
        font-size: 25px;
    }
    .recipe-para{
        font-size: 17px;
    }
    .recipe-subtitle {
        font-size: 19px;
    }
    .recipe-form{
        margin-left: 0;
    }
    .left-side{
        display:none;
    }
    .recipe-form-search{
        justify-content: center;
        flex-wrap: wrap;
        gap: 21px;
    }
}